<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona</title>
</head>
<body>
    <h1>KUTUBXONA</h1>
    <br>
    <h3>Bo'limlar:</h3>
    <a href="/mualliflar/"><button>Mualliflar</button></a> <br> <br>
    <a href="/kitoblar/"><button>Kitoblar</button></a> <br> <br>
    <a href="/talabalar/"><button>Talabalar</button></a> <br> <br>
    <a href="/adminlar/"><button>Adminlar</button></a> <br> <br>
    <a href="/recordlar/"><button>Recordlar</button></a> <br> <br>
</body>
</html>