<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <br>
    <a href="/adminlar/">◀Ortga</a>
    <h1>Tanlangan admin: </h1>
    <p>Ism: {{admin.ism}}</p>
    <p>Ish vaqti: {{admin.ish_vaqti}}</p>
    <br>
    <a href="/admin_ochrish/{{ admin.id }}/"><button>O'chrish</button></a>
    <br>
    <br>
    <hr>
    <h1>Tahrirlash:</h1>
    <form method="post"> {% csrf_token %}
        <label>Ism:</label>
        <input type="text" name="i" value="{{admin.ism}}">
        <br>
        <br>
        <label>Ish vaqti:</label>
        <select name="v">
            <option value="7:00-12:00">7:00-12:00</option>
            <option value="13:00-18:00">13:00-18:00</option>
        </select>
        <br>
        <br>
        <button type="submit">Yangilash</button>
    </form>
</body>
</html>